.wrap {
  background-color: #F2F7FF80;
  position: sticky;
  top: 0;
  z-index: 1000;
}
.navbar {
  width: 100vw;
  padding-top: 44px;
  padding-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  .logo {
    transition: all 0.3s;
  }
  .logo:hover {
    transform: scale(1.05);
  }
  .links {
    display: flex;
    gap: 40px;
    .link_item {
      list-style-type: none;
      a {
        position: relative;
        color: #1d2530;
        text-decoration: none;
        &::before {
          position: absolute;
          content: "";
          height: 3px;
          width: 100%;
          bottom: -10px;
          background: linear-gradient(to right, white, blue);
          transition: transform 0.5s ease-in-out;
          transform: scaleX(0);
          transform-origin: right;
        }
        &:focus::before,
        &:hover::before {
          transform: scaleX(1);
          transform-origin: left;
        }
        &:hover {
          color: #685ed6;
        }
      }
    }
  }
  .burger {
    display: none;
  }
  .close_icon {
    display: none;
  }

  .button_group {
    display: flex;
    gap: 12px;
    .sign_in {
      width: 76px;
    }
    .sign_up {
      width: 138px;
    }
  }
}

$breakpoint-tablet: 768px;
@media (max-width: $breakpoint-tablet) {
  
  .navbar {
    padding-top: 25px;
    .burger {
      display: block;
      transition: all 0.5s;
      &:active {
        transform: scale(0.9);
      }
    }
    .mobile_menu {
      position: fixed;
      top: 0;
      right: -100%;
      width: 100%;
      height: 100%;
      background-color: #e5e5e5;
      padding: 40px;
      transition: all 0.5s;
      transition-delay: 0.09s;
      .close_icon {
        display: block;
        margin-bottom: 30px;
        margin-left: auto;
        width: 20px;
        transition: all 0.1s;
        &:active,
        &:hover {
          transform: scale(0.9);
        }
      }
      .links {
        flex-direction: column;
        align-items: center;
        .link_item {
          a {
            font-size: 18px;
            font-weight: 700;
            color: white;
          }
        }
      }
    }
    .close {
      right: 0;
    }

    .button_group {
      align-items: center;
      flex-direction: column;
      .btn {
        width: 80%;
      }
      .sign_in,.sign_up {
        width:100%;
  
      }
    }
  }
}

$breakpoint-mobile: 376px;
@media (max-width: $breakpoint-mobile) {
  .navbar {
    .logo {
      width: 95px;
    }
  }
}
