@import "../../scss/variables.scss";
.telgram-chat {
  text-align: center;
  h1 {
    margin-bottom: 40px;
  }
  .telegram-chat--top {
    background-image: url(../../assets/images/lines.png);
    background-repeat: no-repeat;
    flex-wrap: wrap;
    display: flex;
    height: 300px;
    justify-content: space-between;
    .count {
      width: 75px;
      height: 72px;
      background: #f1e4ff;
      border-radius: 50%;
      font-family: "Gilroy";
      font-style: normal;
      font-weight: 700;
      font-size: 30px;
      line-height: 30px;
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      color: $violet;
    }
    .top--card {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 16px;
      h5 {
        margin-bottom: 4px;
      }
    }
    .top--card:first-child {
      align-self: start;
    }
    .top--card:nth-child(2) {
      // border: 4px solid;
      padding-top: 50px;
      align-self: center;
    }
    .top--card:nth-child(3) {
      align-self: start;
    }
  }
  .telegram-chat--bottom {
    background-image: url("../../assets/images/blur.png");
    width: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom;
    height: 700px;
    .container {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      .img-box__bottom:nth-child(2) {
        padding-top: 50px;
      }
    }
  }
}

@media (max-width: 1200px) {
  .telgram-chat .telegram-chat--top {
    height: auto;
    background-image: none;
    margin-bottom: 50px;
    .top--card {
      border: 1px solid $lightwhite;
      padding: 20px;
      width: 30%;
    }
    .top--card:nth-child(2) {
      align-self: start;
      padding-top: 20px;
    }
  }
  .telegram-chat--bottom {
    .container {
      .img-box__bottom:nth-child(2) {
        padding-top: 0px !important;
      }
    }
  }
}

@media (max-width: 880px) {
  .telgram-chat {
    .telegram-chat--top {
      gap: 30px;
      justify-content: center;
    }
    .telegram-chat--bottom {
      background-image: none;
      .container {
        justify-content: center;
        gap: 30px;
        .img-box__bottom {
          img {
            width: 220px;
          }
        }
      }
    }
  }
}
@media (max-width: 670px) {
  .telgram-chat {
    .telegram-chat--top {
      .top--card {
        width: 45%;
      }
    }
  }
}
@media (max-width: 500px) {
  .telgram-chat {
    .telegram-chat--top {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      align-content: center;
      gap: 0;
      .top--card {
        width: 95%;
        border: none;
      }
    }
    .telegram-chat--bottom {
      .container{
        .img-box__bottom {
          img {
            width: 190px;
          }
        }
      }
    }
  }
}
