@import "../../scss/variables.scss";
.feedback {
  margin-bottom: 170px;
  margin-top: 12px;
  text-align: center;
  position: relative;
  h1 {
    margin-bottom: 48px;
  }
  .quotes-img {
    position: absolute;
    right: 0;
    top: 0;
    img {
      width: 100%;
      max-width: 143px;
      height: auto;
    }
  }
}

.feedback--content {
  background-image: url("../../medias/images/Card.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  margin: 0 auto;
  max-width: 540px;
  padding: 32px;
  h6 {
    margin-bottom: 8px;
  }
  p {
    margin-bottom: 68px;
  }
}
.feedback--author {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
}
@media (max-width: 900px) {
  .feedback {
    img {
      max-width: 110px;
    }
  }
}
@media (max-width: 600px) {
  .feedback {
    img {
      max-width: 90px;
    }
  }
}
@media (max-width: 550px) {
  .feedback {
    img {
      max-width: 50px;
    }
  }
}


@media (max-width: 400px) {
  .feedback {
    padding-top: 50px;
    h1 {
      margin-bottom: 20px;
    }
  }
  .alice-carousel__dots {
    margin: 0;
    margin-top: 20px;
  }
}


// carusel 

.feedback .alice-carousel__prev-btn-item,.feedback .alice-carousel__next-btn-item {
  position: absolute;
  color: #465798;
  font-size: 25px;
  font-weight: bolder;
  transition: all .1s ease;
}
.feedback .alice-carousel__prev-btn-item {
  left: 0;
  bottom: 25px;
}
.feedback .alice-carousel__next-btn-item {
  bottom: 25px;
  right: 0;
}
// .feedback .alice-carousel__next-btn-item::before {
//   content: attr("next");
// }
// .feedback .alice-carousel__prev-btn-item::after {
//   content: "prev";
// }
.feedback .alice-carousel__prev-btn-item:hover ,.feedback .alice-carousel__next-btn-item:hover {
  color: #031b72;
  transform: scale(1.01);
}
@media (max-width: 768px) {
  .feedback .alice-carousel__dots {
    display: block;
  }
  .feedback .alice-carousel__prev-btn,.feedback .alice-carousel__next-btn {
    display: none;
  }
}