.header {
  padding-top: 80px;
  display: flex;
  .title {
    font-weight: 800;
    font-size: 50px;
    line-height: 60px;
    font-feature-settings: "salt" on, "liga" off;
  }
  .text {
    font-weight: 400;
    font-size: 24px;
    line-height: 34px;
    color: #1d2530;
    margin: 24px 0 34px 0;
  }
  .blue {
    color: #685ed6;
  }
  .btn {
    outline: none;
    border: none;
    width: 168px;
    height: 48px;
    background-color: #685ed6;
    color: white;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.07);
    border-radius: 6px;
  }
}
@media (max-width: 1024px) {
  .header {
    img {
      width: 500px;
    }
  }
}
$breakpoint-tablet: 768px;
@media (max-width: $breakpoint-tablet) {
  .header {
    .title {
      line-height: 40px;
      font-size: 32px;
      font-weight: 800;
    }
    .text {
      font-size: 18px;
      line-height: 28px;
    }
    .img_wrap {
      img {
        width: 420px;
      }
    }
  }
}

$breakpoint-mobile: 426px;
@media (max-width: $breakpoint-mobile) {
  .header {
    padding-top: 40px;
    gap: 50px;
    flex-direction: column;
    .text_wrap {
      text-align: center;
    }
    .img_wrap {
      img {
        width: 300px;
      }
    }
  }
}


@media (max-width: 321px) {
  .header {
  }
}