.sign_un {
    form {
      margin: 100px auto;
      width: 40%;
      height: 376px;
      background: #ffffff;
      border: 1px solid #e6e9ec;
      box-shadow: 0px 10px 30px rgba(13, 38, 59, 0.05);
      border-radius: 3px;
      padding: 50px;
      input {
        width: 100%;
          font-size: 16px;
          padding: 10px 0;
        border: none;
        border-bottom: 2px solid #e6e9ec;
        outline: none;
        margin-top: 10px;
      }
      label {
        color: red;
        font-size: 14px;
        font-weight: 600;
        margin-top: -5px;
      }
    }
  }
  