@import url("https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap");
$breakpoint-tablet: 768px;


.container {
  max-width: 1110px;
  margin: 0 auto;
}
@media (max-width: 1250px) {
  .container {
    max-width: 90%;
  }
}
*,
*:after,
*:before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  // font-family: "Inter", sans-serif;
  font-family: "Gilroy";
  font-style: normal;
}
