@import url("https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap");

#root {
  $violet: #685ed6;
  $lightviolet: #c39bfb;
  $violetsecondary: #f1e4ff;
  $btn-hover: #33afe1;
  $btn-active: #18e1f7;
  $black: #1d2530;
  $dark: #18191f;
  $lightblue: rgba(104, 94, 214, 0.05);
  $lightwhite: #eeeff4;
  $white: #ffffff;
}
.fs-1424 {
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
}
.fs-1424 {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
}
.fs-1620 {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
}
.fs-1626 {
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
}
.fs-1824 {
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
}
.fs-1828 {
  font-weight: 500;
  font-size: 18px;
  line-height: 28px;
}
.fs-1924 {
  font-weight: 700;
  font-size: 19px;
  line-height: 29px;
}
.fs-2030 {
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
}
.fs-2432 {
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
}
.fs-2434 {
  font-weight: 400;
  font-size: 24px;
  line-height: 34px;
}
.fs-2448 {
  font-weight: 800;
  font-size: 24px;
  line-height: 48px;
}
.fs-2840 {
  font-weight: 700;
  font-size: 28px;
  line-height: 40px;
}
.fs-3341 {
  font-weight: 800;
  font-size: 33px;
  line-height: 41px;
}
.fs-4664 {
  font-weight: 800;
  font-size: 46px;
  line-height: 64px;
}
.fs-4832 {
  font-weight: 800;
  font-size: 48px;
  line-height: 32px;
}
.fs-5060 {
  font-weight: 800;
  font-size: 50px;
  line-height: 60px;
}
.container {
  max-width: 1110px;
}
*,
*:after,
*:before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  // font-family: "Inter", sans-serif;
  font-family: "Gilroy";
  font-style: normal;
}
