  $violet: #685ed6;
  $btn-light--hover: #c39bfb;
  $btn-light: #f1e4ff;
  $btn--hover: #33afe1;
  $btn--active: #18e1f7;
  $black: #1d2530;
  $dark: #18191f;
  $lightblue: rgba(104, 94, 214, 0.05);
  $lightwhite: #eeeff4;
  $white: #ffffff;
